:root {
  font-family: Roboto;
  font-style: normal;
  line-height: normal;
  font-size: 14px;
  font-weight: 400;

  color: rgba(0, 0, 0, 0.80);
  background: var(--grey);

  --white: #FFFFFF;
  --grey: #FBFBFB;
  --primary: #0085FF;
  --secondary: #FF0000;

  --border-strong: 0.5px solid rgba(0, 0, 0, 0.30);
  --border-light: 0.5px solid rgba(0, 0, 0, 0.20);
}

html,
body {
  padding: 0px;
  margin: 0px;
}

* {
  box-sizing: border-box;
}

button,
input {
  border: none;
  background: transparent;
}

input:focus {
  outline: none;
}

a {
  text-decoration: none;
}